.parent {
  position: relative;
}

.box_parent1 {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  width: 600px;
  position: absolute;
}

.box_parent2 {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  width: 600px;
  position: absolute;
  left: 620px;
}

h2 {
  margin: 0px;
}

.content {
  margin-top: 10px;
}

.box1_a:link {
  color: green;
  text-decoration: none;
}

.box1_a:visited {
  color: blue;
  text-decoration: underline;
}

.box1_a:hover {
  color: red;
  text-decoration: none;
}

.box1_a:active {
  color: gray;
  text-decoration: none;
}

.box2_a:link {
  color: green;
  text-decoration: none;
  background-color: yellowgreen;
}

.box2_a:visited {
  color: blue;
  text-decoration: underline;
}

.box2_a:hover {
  color: red;
  text-decoration: none;
}

.box2_a:active {
  color: gray;
  text-decoration: none;
}
